<div class="container text-center">
  <h1>About Page</h1>
  <p>We are Blacktrepreneur. Our company focuses on creating an inclusive community of color to contribute to a promote Pan-Africanism through entrepreneurship and collaboration.
  Our individual contributions can create positive deviance for a new era of Pan-African pride. </p>
</div>